html{
  font-size: 62.5%;
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #d8e7f3;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 6rem;
  align-items: center;
  margin: 1rem;
}

header img {
  width: 10rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 80%;
}

.entrada-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 80vh;
}

.area-texto {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.text-area {
  resize: none;
  width: 70%;
  height: 70%;
  margin: 2rem;
  border: transparent;
  background: transparent;
  font-size: 3rem;
  color: black;
}

.text-area::placeholder {
  font-size: 3rem;
  color: gray;
}

.text-area:focus {
  outline: none;
}

.area-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 30vh;
}

.warning {
  font-size: 1.5rem;
  color: red;
}

.botones {
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
gap: 2.5rem;
}

#b-encriptar, #b-desencriptar {
  width: 25rem;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #021936;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(28, 99, 190), rgb(18, 155, 143));
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.botones :hover {
transform: scale(1.08);
}

.salida-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #ffffff;
  width: 30%;
  height: 80vh;
  margin: 0 4rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.imagen-texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.imagen-texto img {
  width: 100%;
}

.imagen-texto h1 {
margin: 0.5rem;
font-size: 2.2rem;
}

.imagen-texto p {
  margin: 0.5rem;
  font-size: 1.6rem; 
}

.textarea-boton {
display: none;
flex-direction: column;
width: 100%;
height: 100%;
}

.area-textarea {
display: flex;
flex-direction: column;
width: 100%;
height: 90%;
}

#textarea-encriptado {
  border: none;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  resize: none;
  margin: 5rem 1rem;
}

.area-botoncopiar {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 10%;
  justify-content: end;
  align-items: center;
}

.boton-copiar {
  width: 25rem;
  margin: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #021936;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(28, 99, 190), rgb(18, 155, 143));
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  animation:;
}

.boton-copiar:hover {
  transform: scale(1.05);
  }

  #textarea-encriptado:focus {
    outline: none;
    }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10vh;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.redes-sociales {
font-size: 3rem;
  }

/********* MEDIA QUERIES *********/
@media (max-width: 1050px) {
  .salida-texto {
    width: 40%;
    margin: 0;
  }
  .boton-copiar {
    width: 15rem;
  }
}

/********* MEDIA QUERIE TABLET *********/
@media (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .entrada-texto {
    width: 100%;
    height: 50vh;
  }
  .area-texto {
    height: 40vh;
  }
  .area-botones {
    height: 10vh;
  }
  .salida-texto {
    width: 100%;
    height: 50vh;
    margin: 0;
  }
  #imagen {
    display: none;
  }
}

/********* MEDIA QUERIE CELULAR *********/
@media (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .entrada-texto {
    width: 100%;
    height: 50vh;
  }
  .area-texto {
    height: 40vh;
  }
  .area-botones {
    height: 10vh;
  }
  .salida-texto {
    width: 100%;
    height: 50vh;
    margin: 0;
  }
  #imagen {
    display: none;
  }
}
